<%= debug session %>

<hr />
<%= @user.id %>

<h1>Listing users</h1>

<table>
  <tr>
    <th>Id</th>
    <th>name</th>
    <th>Profile picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.i_id %></td>
    <td><%= user.i_name %></td>
		<td><%= image_tag user.profile_picture  %></td>
  </tr>
<% end %>
</table>

<br />



<%= link_to 'New User', new_user_path %>
